@import "settings/settings.config";
@import "settings/settings.core";
@import "settings/settings.global";

.o-contact {
	background: #f4f4f4;
	
	.o-layout__item {
		padding: 0 50px 0 100px;
	}
}

.o-contact-form {
	input {
		margin-bottom: 20px;
	}

	textarea {
		height: 250px;
	}
}

.o-contact-content {
	strong {
		font-weight: 600;
		color: $global-primary-color;
	}

	em {
		font-weight: 600;
	}

	a {
		color: #000;
	}

	i {
		color: #444545;
		font-size: 50px;
		margin-right: 15px;
	}
}

@media screen and (max-width: 767px) {
	.o-contact {
		
		.o-layout__item {
			padding: 0 5px 0 25px;
		}
	}

}