.debug {
	border: 1px solid #000;
}

h1, h2, h3 {
	letter-spacing: .04em;
	font-weight: 600;
	color: $global-primary-color;
}

h4 {
	font-weight: 600;
}

button {
	border: none;
}

p {
	margin-bottom: 15px;
}

.grecaptcha-badge {
	display: none;
}

.u-red {
	color: $global-primary-color;
} 

.u-full-width {
	width: 100%;
}

.u-text-center {
	text-align: center;
}

.u-text-right {
	text-align: right;
}

.u-form-control {
	width: 100%;
	border-radius: $global-radius;
	border: none;
	background: #fff;
	height: 40px;
	line-height: 40px;
	vertical-align:bottom;
	font-size: 15px;
	padding-left: 15px!important;
	letter-spacing: .06em;
}

.u-ph-lg {
	padding-left: 170px;
	padding-right: 170px;
}

.u-ph-md {
	padding-left: 130px;
	padding-right: 130px;
}

.u-pv-lg {
	padding-top: 70px;
	padding-bottom: 70px;
}
.u-mr-20 {
	margin-right: 20px;
}
.u-mt-20 {
	margin-top: 20px;
}

.u-mt-80 {
	margin-top: 80px;
}

.u-mb-60 {
	margin-bottom: 60px;
}

#content {
	.c-btn {
		text-transform: uppercase;
		padding-left: 30px;
		padding-right: 30px;
		font-size: 17px;
	}
}

#msgDiv {
	padding-top: 20px;
}

/* o-layout utilities */
$custom-padding: 35 60;

@mixin custom-padding($items) {

  @each $item in $items {
  	
    .u-ml-#{$item} { 
    	margin-left: -$item + px!important;
    }

    .u-pl-#{$item} {
    	padding-left: $item + px!important;
    }
  }
}

@include custom-padding($custom-padding);

.c-header, .o-logo-container, .o-logo, .o-menu, .o-menu-mobile, a, img, figcaption {
	transition: all $global-transition ease;
	-webkit-transition: all $global-transition ease;
}

/* to top */
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 40px;
    height: 40px;
    display: block;
    text-decoration: none;
    display: none;
    -webkit-transition: all $global-transition;
    -moz-transition: all $global-transition;
    -ms-transition: all $global-transition;
    -o-transition: all $global-transition;
    transition: all $global-transition;
    z-index: 99999;
    
    i {
	    color: #fff;
	    margin: 0;
	    position: relative;
	    left: 11px;
	    top: 6px;
	    font-size: 19px;
	    -webkit-transition: all 0.3s ease;
	    -moz-transition: all 0.3s ease;
	    -ms-transition: all 0.3s ease;
	    -o-transition: all 0.3s ease;
	    transition: all 0.3s ease;
	}

	&:hover {
	    background: rgba(0, 0, 0, 0.9);
	    
	    i {
		    color: #fff;
		    top: 4px;
		}
	}
}